<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>
    {{- partial "head.html" . -}}
    <body>
        <div class="wrapper">
        <section class="sidebar">
        <header>
        {{- partial "header.html" . -}}
        </header>
        <div class="hide">
        <footer>
        {{- partial "footer.html" . -}}
        </footer>
    </div>
        </section>
        <section class="content">
        {{- block "main" . }}{{- end }}
        </section>
    </div>
    <div class="unhide">
    <footer>
    {{- partial "footer.html" . -}}
    </footer>f
    </div>
    </body>
</html>
