<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>
    {{- partial "head.html" . -}}
    <body>
        <div class="container flex">
        <aside class="sidebar left">
        <header>
        {{- partial "header.html" . -}}
        </header>
        <div class="hide">
            <footer>
                {{- partial "footer.html" . -}}
            </footer>
        </div>
</aside>
        <main class="content">
        <article>
        {{- block "main" . }}{{- end }}
        </article>
        </main>
        <aside class="right">
        </aside>
    </div>
    <div class="unhide">
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
    </div>
</aside>
<footer>
    </footer>
    </div>
    </body>
</html>
