{{ define "main" }}
<header class="list-content">
{{  if site.Params.showListContent}}
{{ .Content }}
{{ end }}

{{ if site.Params.useSearch }}
{{ partial "search.html" }}
{{ end }}
</header>
<section class="post">
{{ range .Paginator.Pages }}
<article class="post-summary">
    {{ if site.Params.postListDateLeft}}
        {{ partial "metadata.html" . }}
    {{ end }}
    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    {{ if site.Params.postListDateRight }}
        {{ partial "metadata.html" . }}
    {{ end }}
        {{ if site.Params.showPostListTags }}
    <div class="post-tags">
        <ul>
        {{ range (.GetTerms "tags") }}
    <li class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
    </ul>
        {{ end }}

    {{ if site.Params.showPostListSummaries }}
        <p class="summary">{{ .Summary | markdownify }}</p>
        <a href="{{ .RelPermalink }}">Read more...</a>
        {{ end }}
    </article>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </section>
{{ end }}