{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
    <div class="post-heading">
    {{ if site.Params.postListDateLeft}}
        {{ partial "metadata.html" . }}
    {{ end }}
    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    {{ if site.Params.postListDateRight }}
        {{ partial "metadata.html" . }}
    {{ end }}
    </div>
    <div class="post-tags">
        {{ if site.Params.showPostListTags }}
    <ul class="post-tags">
        {{ range (.GetTerms "tags") }}
    <li class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
        {{ end }}
    </div>
    {{ if site.Params.showPostListSummaries }}
        <p class="summary">{{ .Summary | markdownify }}</p>
        <a href="{{ .RelPermalink }}">Read more...</a>
        {{ end }}
        {{ end }}
{{ end }}