{{ define "main" }}
<article class="post">
        <h1>{{ .Title }}</h1>
        {{ if $.Type | in site.Params.mainSections }}
            <span class="post-date">{{ partial "metadata.html" . }} on <a href="{{ .Site.BaseURL }}"> {{ .Site.Title }}</a></span>
        {{ end }}
        {{ if .Params.tableofcontents }}
            {{ partial "tableofcontents.html" . }}
        {{ end }}
    {{ .Content }}
    {{ if $.Type | in site.Params.mainSections }}
    <div class="post-tags">
    <ul class="post-tags">
    {{ with .Params.tags }}
    {{ if site.Params.showposttags }}
    {{ range . }}
    {{ $href := print (absURL "tags/") (urlize .) }}
    <li class="tag"><a href="{{ $href }}">{{ . }}</a></li>
    {{ end }}
    {{ end }}
    {{ end }}
    </div>
    {{ end }}
    {{ if $.Type | in site.Params.mainSections }}
    {{ if site.Params.showmessage }}
    {{ partial "message.html" }}
    {{ end }}
    {{ end }}
    {{ partial "comments/giscus.html" . }}
</article>
{{ end }}