    {{if .Site.Params.useLogo }}
    {{ partial "logo.html" }}
    {{ else }}
    <h1 class="site-title">{{ .Site.Title }}</h1>
    {{end}}
    
    <p class="hide">Navigation</p>
    
    <ul id="nav" class="navigation">
        {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">
        {{ if .Pre }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
    </a></li>
    {{ end }}
    </ul>
    
    {{ if site.Params.showSidebarPosts }} 
    <div class="hide">
    <p>Latest Posts</p>
    <ul id=nav>
        {{ range ( where .Site.RegularPages "Type" "post" | first 3 )}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{end}}
    </ul>
    </div>
    {{end}}

{{ if site.Params.showSidebarTags }}
   <div class="hide">
   <p>Tags</p>
   <ul class="post-tags">
    {{range $name, $taxonomy := .Site.Taxonomies.tags}}
        {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <li class="tag"><a href={{ .RelPermalink }} title="All pages with tag {{$name}}">{{$name}}</a></li>
        {{end}}
    {{end}}
    </ul>
{{end}}